::ng-deep {
  .mat-card-header-text {
    margin: 0 !important;
  }
}
.view__btn,
.action_icon__btn {
  $btnSize: 30px;
  $iconSize: 22px;
  line-height: $btnSize;
  width: $btnSize;
  height: $btnSize;
  .mat-icon {
    font-size: $iconSize;
    line-height: $iconSize;
    width: $iconSize;
    height: $iconSize;
  }
}

.title {  
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0, #5195A8), color-stop(100, #70EAFF));  
  background: -moz-linear-gradient(top left, #051114 0%, #70EAFF 100%);  
  background: -ms-linear-gradient(top left, #0c181b 0%, #70EAFF 100%);  
  background: -o-linear-gradient(top left, #102329 0%, #70EAFF 100%);  
  background: linear-gradient(to bottom right, #122429 0%, #70EAFF 100%);  
  color:white; 
}  
