<div class="container mt-32">
  <p>shipping-detail works!</p>
  <div class="d-flex">
    <form action="" method="" novalidate [formGroup]="shippingDetails">
      <div class="title ml-3">
        <h2>Shipping Details</h2>
      </div>
      <br />
      <label>
        <span class="fname"> First Name <span class="required"> * </span></span>
        <input type="text" name="fname" required placeholder="Enter your First Name" formControlName="FirstName" />
        <div class="error" *ngIf="validateControl('FirstName') && errorHandling('FirstName', 'required')">
          This field is required
        </div>
      </label>
      <label>
        <span class="lname"> Last Name <span class="required">*</span> </span>
        <input type="text" name="lname" placeholder="Enter your Last Name" formControlName="LastName" />
        <div class="error" *ngIf="validateControl('LastName') && errorHandling('Address', 'required')">
          This field is required
        </div>
      </label>

      <label>
        <span> Address <span class="required"> * </span></span>
        <input type="text" name="address" placeholder="Enter your address" formControlName="Address" />
        <div class="error" *ngIf="validateControl('Address') && errorHandling('Address', 'required')">
          This field is required
        </div>
      </label>
      <label>
        <span> Town / City <span class="required">*</span></span>
        <input type="text" name="city" placeholder="Enter your City" formControlName="City" />
        <div class="error" *ngIf="validateControl('City') && errorHandling('City', 'required')">
          This field is required
        </div>
      </label>
      <label>
        <span> State <span class="required">*</span></span>
        <input type="text" name="state" placeholder="Enter your State" formControlName="State" />
        <div class="error" *ngIf="validateControl('State') && errorHandling('State', 'required')">
          This field is required
        </div>
      </label>
      <label>
        <span> Country <span class="required">*</span></span>
        <input type="text" name="country" placeholder="Enter your Country" formControlName="Country" />
        <div class="error" *ngIf="validateControl('Country') && errorHandling('Country', 'required')">
          This field is required
        </div>
      </label>
      <label>
        <span> Postcode / ZIP <span class="required">*</span></span>
        <input type="text" name="zip" placeholder="Enter your Zip Code" formControlName="ZipCode" />
        <div class="error" *ngIf="validateControl('ZipCode') && errorHandling('ZipCode', 'required')">
          This field is required
        </div>
        <div class="error" *ngIf="validateControl('ZipCode') && errorHandling('ZipCode', 'minlength')">
          ZipCode length should be 10 digit
        </div>
        <div class="error" *ngIf="validateControl('ZipCode') && errorHandling('ZipCode', 'maxlength')">
          ZipCode length should be 10 digit
        </div>
      </label>
      <label>
        <span> Phone No. <span class="required">*</span></span>
        <input type="tel" name="phone" placeholder="Enter your Contact Details" formControlName="Phone" />
        <div class="error" *ngIf="validateControl('Phone') && errorHandling('Phone', 'required')">
          This field is required
        </div>
        <div class="error" *ngIf="validateControl('Phone') && errorHandling('Phone', 'minlength')">
          Phone length should be 10 digit
        </div>
        <div class="error" *ngIf="validateControl('Phone') && errorHandling('Phone', 'maxlength')">
          Phone length should be 10 digit
        </div>
      </label>
      <label>
        <span>Address Type <span class="required">*</span></span>
        <select name="addtype" formControlName="AddressType">
          <option value="select">Address Type..</option>
          <option value="Residential">Residential</option>
          <option value="Commercial">Commercial</option>
        </select>
        <div class="error" *ngIf="validateControl('AddressType') && errorHandling('AddressType', 'required')">
          This field is required
        </div>
      </label>
    </form>
  </div>
</div>