<div class="row">
  <div class="col-md-12">
      <div class="table-responsive">
          <table class="table table-striped">
              <thead>
                  <tr>
                      <th>OrderId</th>
                      <!-- <th>Book Id</th>  -->
                      <th>Book Name</th>                       
                      <th>Our Price</th>
                     <th>Date</th>
                      <th>ProductType</th>
                      <th>status</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let product of Orderdata | paginate: { itemsPerPage: 10, currentPage: p }">
                      <td>{{product.orderId}}</td>
                      <!-- <td>{{product.bookId}}</td> -->
                      <td>{{product.bookName}}</td>
                      <td>₹{{product.ourPrice| number : '1.2-2'}}</td>
                      <td>{{product.createdOn}}</td>
                      <td>{{product.productType}}</td>
                      <td></td>
                      <!-- <td><mat-slide-toggle [checked]="product.isActive" ></mat-slide-toggle></td>
                      <td><button mat-mini-fab color="primary" aria-label="Example icon button with a delete icon" [routerLink]="['/admin', product.bookId]">
                          <mat-icon>edit</mat-icon>
                        </button></td> -->
                     
                       

                  </tr>
                  
              </tbody>
              
          </table>
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
  </div>
</div>
